 #head{


  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.list li{
   

    padding: 20px;
    font-family: cursive;
    text-decoration: none;
    width: 100px;


}
.list{
display:flex;
flex-direction: column;


}

.const{
    width: 100%;
    height: 100%;

}
.border{
    display: grid; 
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
   padding-top: 60px ;
    gap: 10px;
    margin: 10px;
    place-items: center;

}
.three{
    font-size: 16px;
    padding: 5px;
    margin-right: 5px;
    color: black;

}
 
#hcontainer{

width: 100%;
display: flex;


}
body{
    padding: 0px;
    margin: 0;

 
}
 .cart-container{


 display:flex;
 justify-content: center;
 align-items: center;
   
}
#cart-count{
   
    background-color: black ;
    position:relative;
    top:-15px;
    right:10px;
    width: 18px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 1rem;
}
#cart-icon
{

    cursor: pointer;
    font-size: 1.5rem;
    height: 70px;
    width: 37.5px;
    position: absolute;
    display:flex;
    align-items: center;
  
       
}
img{

    width: 100%;
  
}



.imgcontainer{


box-shadow: 3px 2px 5px #7f8c8d ;
background-color: hwb(213 87% 8% / 0.965);
border: 2px solid black;
padding: 20px;
width: 70%;
height: 88%;
background-color: #ecf0f1;
border-radius: 15px;

}
.imgcontainer:hover{
    box-shadow: 5px 5px 20px #bdc3c7 inset;
    transition-delay: 0s;
}

.pic{

    overflow: hidden;    

}
.pic:hover img{
 
    transform: scale(1.5);
    transition: 1.5s;
}
.saree1{
    transition: 3s;
    object-fit: cover;
    width: 100%;

 }
    
.sarees{

    font-weight: 500;
    color: red;
    text-transform: uppercase;
    font-family: kenia;

}
.cart{
    display: flex;
    justify-content: flex-end;
}

.icon:hover{
  
    cursor: pointer;
  
    
}
.rupees{
    padding:  5px;
    font-family:monospace ;
    display: flex;
    color: black;
}
#cart-box{

    text-align: center;
    width: 80px;
    padding: 3px;
    border: 2px solid black;

}
.cart-img{
    width: 60px;
    height: 80px;
    object-fit: cover ;
}

.cart-content{

    display: flex;
    
   padding: 10px;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.275);

}
.amc{
    overflow-y: auto;
    position: fixed;
    width: 220px;
    height: 100vh;
    right: -250px;
    background-color: aliceblue;


}
div::-webkit-scrollbar{
    display: none ;
}
.cart-title{

    padding-left: 10px;
    padding-top: 20px ;
    padding-bottom: 20px ;
}
.rs-amt{
color: red;
}
.dname
{
    color: red;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
}
.cart-grid{

 
    display: grid;
    grid-template-columns:  40% 60%;
    padding: 10px;
    gap:10px;
   
}
.cart-active{

    top:0;
    right: 0;


}
.cart-close{
    font-size: 25px;
    font-weight: 900px;
    position: absolute;
    top:0;
    right:6px;
    z-index: 0;
}
.cart-container{


    
    width: 200px;


}
.input{

    cursor: pointer;
    border: none;
    font-size: 1rem;
    width: 30px;


}
.cart-close{
    z-index: 4;
}
#order{
    background-color: red;
    color: white;
}
.total-price{
    font-family: monospace;
    display: flex;
    justify-content: flex-end;
}
#tot-amt{
    color: red;
}
.heading{

    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;
    color: gold;

    display: flex;
    align-items: center;


}
.v{
    animation-name: v;
    animation-duration: 1s;
 
}
.a{
    animation-name: a;
    animation-duration: 1.5s;
 
}
.s{
    animation-name: a;
    animation-duration: 2s;

}.t{
    animation-name: a;
    animation-duration: 2.5s;

}.r{
    animation-name: a;
    animation-duration: 3s;
    padding: 1.2px;

}
.aa{
    animation-name: a;
    animation-duration: 3s;
    padding: 1.2px;

}
.l{
    animation-name: a;
    animation-duration: 3.5s;
    padding: 1.2px;

}
.y{
    animation-name: a;
    animation-duration: 4s;
    padding: 1.2px;

}

.aaa{
    animation-name: a;
    animation-duration: 4.5s;
    padding: 1.2px;
}

@keyframes  v {

  
    50%{
                   color: red;
        
    }
    
}
@keyframes  a {
50%{
    color: red;
}    
}
@keyframes  s {
    50%{
        color:red;
    }    
}
   
@keyframes  t {
        50%{
            color: red;
        }    
        }
@keyframes  r {
            50%{
                color: gold;
            }               }
@keyframes  aa
 {
                50%{
                    color:gold;
                }    
}
@keyframes  l
 {
                50%{
                    color:gold;
                }    
}
@keyframes  y
 {
                50%{
                    color:gold;
                }    
}
@keyframes  aaa
 {
                50%{
                    color:gold;
                }    
}

main{
    width: 100%;
}
@keyframes border {
    
from{
    transform:rotate(0deg);
}
to{

    transform: rotate(360deg);
}

}
#ul{
    list-style: none;
    white-space: nowrap;
    display: flex;
    overflow-x: scroll;
}
#ul::-webkit-scrollbar{
        display: none ;
}
.list a{
    color: white;
    text-decoration: none;
    border-radius: 0.5px;
    padding: 5px;

    display:flex;
    flex-direction: column;

}
/* #ul a:hover{

text-shadow: 2px 2px 5px black;
box-shadow: 5px 10px 5px black;
border: 2px solid white;
transform: scale(1);

transition: 1s;

} */
.img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 3px 7px black ;
    
}
.img:hover{
    transform: scale(1.1);

}
.info{

    display: flex;
    font-size: 1.8rem;
    align-items: center;
   cursor: pointer;
   padding: 0px;
   margin: 0px;
} 

 #vas{

width: 100px;


}
#bout{

width: 70px;

}
#heading{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    filter:drop-shadow( 3px 4px 4px white);
    width: 150px;
    padding: 0px 10px;
  

} 
.search{

    font-size: 25px;
    filter: drop-shadow(2px 2px 3px black);
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-left:15px;
} 
/* #sear{

    font-weight: 600px;
    border: none;
    width: 150px;
    height: 4vh;
    outline: none;
    box-shadow: 2px 2px 5px black ;
} */
#sear:hover{
    box-shadow: 0.5px 1px 5px black inset;
}

.backpic{

    background-color: rgba(0, 0, 0, 0.275);
    width: 100vw;
    height: 500px;
} 
.back{

    background-image: url("backpic.jpg");
    background-color: black;
    background-attachment: fixed;
    width: 100vw;
    height: 500px;
    background-size: cover;
    object-fit: cover;
    margin: 0;
}

#main{

width: 100vw;

}
main{

    display: flex;
    justify-content: center;
    align-items: center;


}
#threeble{
    width: 150px;
    display: flex;
    justify-content: flex-end;
    margin-left: 25px;
}
.back{

    height: 500px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.para{
    font-family: serif;
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 4px 3px whitesmoke
    ;}
#mainhead{
    width: 100%;
    margin-top: 0px;
    background-color: red;
    text-align: center;
    height: 50px;
    font-family: cursive;
    color: white;
    
}
.hell{
    margin-top: 0;
    padding: 0;
}
#insta{

display: grid;
grid-template-columns: repeat(auto-fit,minmax(240px,auto));
gap: 5px ;
place-items: center;
color: aliceblue;

}
.instaphoto{

    background-image: url("saree1.jpg");   
    width: 220px;
     height: 450px;
     background-position: center;
     background-size: cover;
     object-fit: cover;
     border: 2px solid black;
     animation-name: hover;
     animation-duration: 15s;
     animation-iteration-count: infinite;
     transition: background 1s ease-in-out;

}
@keyframes hover{

    30%{
    background-image: url("saree2.png");
    }

    60%{
        background-image: url("saree3.png");
    }
    80%{
        background-image: url("saree6.png");
    }

} 
.instaicon{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0px;
  
}
.instaicon:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.275);
}
.listu{

    overflow-y: auto;
    position: fixed;
    width: 220px;
    height: 900px;
    top:0px;
    right: -250px;
    background-color: aliceblue;


}

a{
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: black;
}
.listu li{
    
    margin: 0;
    padding: 0;
    width: 100%;

}

.group{
    top:0;
    right: 0;
}
.ticon{
    font-size: 2rem;
}
#logo{
    color: white;
}
.option{
    transition: transform .5s ease-in-out,margin-bottom .2s ease-in-out; 
    padding: 5px;
    gap: 2px;
    width: 220px;

}
.option:hover{
    background-color: rgba(0, 0, 0, 0.275);

}
.cc{

    color: black;
 
    display: flex;
    justify-content: flex-end;
    
}
.dropdown{
    padding: 0;
}
#welcome{
    font-style: italic;
    text-align: center;
}
#contactme{
    background-color: rgb(110, 255, 110);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40px;
}
#picone{
    
height: 35px;
padding-right: 20px;
font-size: 1.5rem;
}
#contactme a{

    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;

}
#ourforms{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;

}
.input{

    margin: 10px;
    padding: 1px;
    outline: none;
    width: 25vw;

}
#outforms div{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
 

}
#outforms label{

    border: 2px solid black;
}
.div{
    padding: 3px;
    margin: 3px;
}
#img-contaniner{

    background-image: url(saree1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    width: 70vw;
    height: 80vh;
    border:2px solid black;
    transition: background 1s ease-in-out;

}
.btn{

background-color: aliceblue;

}
#btns{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
/* #what{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: aliceblue;
    bottom:150px;
    right:20px;
    width: 40px;
    height: 40px;
    position: fixed;




}
.whatimg{
    width: 45px;
    height: 45px;
    z-index: 100000;
    animation-name: small;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    bottom:150px;
    right:20px;
    position: fixed;
    width: 40px;
    height: 40px;
    position: fixed;


}
#circle{

    animation-name: circle;
    animation-duration: 5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    border-radius: 50%;
    bottom:150px;
    right:20px;
    width: 10px;
    height: 10px;
    position: fixed;



} */



#what{
width: 40px;
height: 40px;
background-color: brown;
border-radius:50%;
position: relative;

}
#what div{

    position: absolute;
    width: 100px;
    height: 100px;
    background: inherit;
    border-radius: inherit;
    animation: circle 4s ease-out infinite;

}
@keyframes circle{
    100%{
        opacity: 0;
        transform: scale(2);
        
    }
}
.whatimg{


}
 #circle{


} 
@keyframes circle{
 
    20%{
     width:60px;
     height:60px;
 
    }
 
    50%{
     width: 63px;
     height: 63px;
    }
    70%{
     width: 65px;
     height: 65px;
    }
 
 }  
 #color{
    background-color:black;
   margin: 0;
    padding: 0%;
    height: 220px  ; 
    width: 400px; margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
 #grey
 {
    background-color: bisque;
    height: 205px;
    width: 385px;
    font-weight: 900px;
    font-size: 1.5rem;
    margin: 5px;
    position: absolute;
    padding: 5px;

 }
 .difcolor{
    background-image: linear-gradient(blue,rgb(0, 157, 255));
    animation: rotate 6s  infinite; 
    height: 220px  ; 
    width: 450px;
    position: relative;
 }
 @keyframes rotate {
    
    50%{
        transform: rotate(360deg);
    }
 }
/*  #again{
    background-image: url("what.png");
    width: 40px;
    height: 40px;
    background-size: contain;
    position: fixed;
    bottom:150px;
    right: 10px;

 }
 #again::before{
    position:absolute;
    content:'';
    left:0;
    right:0;
    bottom:0;
    top:0;
    border: 2px solid rgb(0, 235, 39);
    border-radius: 50%;
    animation: animate 2s linear infinite;

 }
 @keyframes animate{
    50%{
        transform: scale(2);}
 } */
 .whatsapp{
    cursor: pointer;
    background-image: url("what.png");
    width: 40px;
    height: 40px;
    background-size: contain;
    position: fixed;
    bottom:150px;
    right: 10px;
 }
 .whatsapp::before{
    position:absolute;
 content:'';
 left:0;
 right:0;
 bottom:0;
 top:0;
 border: 2px solid rgb(0, 235, 39);
 border-radius: 50%;
 animation: animate 2s linear infinite;

}
@keyframes animate{
    50%{
        transform: scale(2);}
 }
 .summa{
    background-color: cadetblue;
    position: fixed;
    top:0;
    right: 0;
 }

/*  #hello{
     border: 2px solid black;
    animation: anim 2s linear infinite;
    left:0;
    right:0;
    bottom:0;
    top:0;
    position: absolute;


 }  */
 .summa::before{

 }
 @keyframes anim{
    50%{
        transform: scale(2);}
 }
#head{
    background-color:#dfe4ea ;
    }

.saree1{
    width: 80%;
    height: 50%;
}


/*searching contents*/



.search-actvie{

    top:0;
    right:-1000px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.275);
    height:100%;
    width: 250px;
    border: 0.5px solid black;
    overflow-y: auto;

}
.searchcome{
    top:0;
    right:0;
}
.search-list li{
    background-color: aliceblue;
    width: 50px;
    text-align: center;
    margin: 10px;

    border-radius: 25px;
}
.search-list li:hover,
.search-list  .btn-click
{
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.275);
}
.search-list{
    display: grid;
    grid-template-columns: repeat(3,minmax(20px,70px));
}
#search-bar{

outline: none;
border-radius: 10px;
height: 20px;
transform: translate(-36px);

}
#searching-div{

    background-color: rgb(22, 202, 79);
    padding-top: 20px;
    padding-bottom: 10px;

    display: flex;
    justify-content: flex-end;
}
 
.close{
    color: black;
    font-size: 1.2rem;
    position: fixed;
    transform: translatey(-20px);
    font-weight: 900;
}
ul{
    list-style-type: none;
}
.space{
    width:100%;
    height: 100%;
    background-color: aliceblue;

}
#space-img{
    width: 100%;
    height: 350Px;
    object-fit: cover;
    display:flex;
    justify-content: center;

}
.letter{
    display: grid;
    grid-template-columns: repeat(2,minmax(200px,auto));
    padding: 10px;
}
html{
    background-color: #f5f6fa;
}
#welcome{

    background-color: #ced6e0;
    border-radius: 1rem;
    width: 90%;
    height: 100%;
    padding: 5px;

}
#sicon{
    color: grey;
}

#box{
    
display: flex;
width: 100%;
flex-direction: row;
border: 2px solid black;
overflow-x: scroll;

}
/* #box::-webkit-scrollbar{
    display: none;
} */
.img-container img{
    width: 200px;
    height: 300px;
} 
.img-container{
    border: 2px solid black;

}
/*  .img-container{

    border-radius: 1rem;
    border: 2px solid black;
    width: 200px;
    height: 400px;
}  */
.bimg{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: #dfe4ea;
    width: 250px;
    gap: 10px;
    padding:  10px ;
} 
/* #rbtn{

    font-size: 2.5rem;

}
#lbtn{
    font-size: 2.5rem;
}

.imgbtn{

    
  
    width:  100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;

} */

/* .group{


    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    transform: translatey(-5px); */
/* 
}
.name{
    color: red;
    font-size: 1.1rem;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
}
.inr{

    width: 100%;
    text-align: center;
}
.star{

    width: 100%;
    text-align: center;

}
.gicon{
    padding: 5px;
    width: 100%;
    text-align: center;
}
.c-icon{
    font-size: 1.3rem;
    background-color: #bdc3c7;
}
.c-heart{
    font-size: 1.3rem;
    background-color: #bdc3c7;

}
.c-eye{
    font-size: 1.3rem;
    background-color: #bdc3c7;  
}  */
#ad-container{

position: relative;
max-width:  800px;
height: 255px;
overflow-y: hidden ;
display: flex;
justify-content: center;

}

#ad-container img{

    width:100%;
    height: auto;
    
}
#dots {


    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 10px;
    border-radius: 10px;
    display: flex;
justify-content: center;  
flex-direction: row;  

}
.dot{
margin-left: 3px ;
width: 10px;
background-color: rgb(255, 5, 5);
height: 5px;
border-radius: 10px;
}
.dot-active{


    background-color: black;

}

.advertisment, .hidden{

    display: none;

}
.active{
    display: block
}
.imgbtn{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#lbtn{
   
    background-color: rgba(255, 255, 255, 0.331);
    color:  rgb(0, 0, 0);
    font-size: 30px;
    visibility: hidden;
}
#rbtn{

    background-color: rgba(255, 255, 255, 0.331);
    color:  black;
    font-size: 30px;
    visibility: hidden;
}


#ad-container :hover #lbtn{
    visibility: visible;

}  
#ad-container :hover #rbtn{
    visibility: visible;

}  
